<template>
    <v-pagination
        v-model="page"
        :circle="circle"
        :disabled="disabled"
        :length="length"
        :next-icon="nextIcon"
        :prev-icon="prevIcon"
        :page="page"
        :total-visible="totalVisible"
        color="#fa7531"
        @input="next"
        ></v-pagination>
</template>
<script>
export default {
    props: ['totalPost', 'currentPage'],
    data () {
        return {
            postList: [],
            loading: true,
            circle: false,
            disabled: false,
            length: 5,
            nextIcon: 'navigate_next',
            nextIcons: ['mdi-chevron-right', 'mdi-arrow-right', 'mdi-menu-right'],
            prevIcon: 'navigate_before',
            prevIcons: ['mdi-chevron-left', 'mdi-arrow-left', 'mdi-menu-left'],
            page: 1,
            limit: 5,
            totalVisible: 5,
        }
    },
    mounted() {
        this.page = this.currentPage;
        this.length = Math.ceil(this.totalPost/this.limit);
    },

    methods: {
        next (page) {
            const params = {
                page: page,
                limit: this.limit
            }
            this.$emit('pageChanged', params);
        }
    }
}
</script>