<template>
    <v-container v-if="loading">
        <div class="progress__custome">
            <v-progress-circular
                indeterminate
                :size="80"
                :width="5"
                color="#fa7531"
                class="progress__custome__inner"
            >
            </v-progress-circular>
        </div>
    </v-container>
    <v-container v-else>
        <div class="postDetail">
            <div class="postDetail_content">
                <p>Title: {{postDetail.title}}</p>
                <p>Points: {{postDetail.commentsTotal}}</p>
            </div>
            <p>Comment List:</p>
            <div class="commentList" v-if="postDetail.commentsList.length">
                <div v-for="comment in postDetail.commentsList" :key="comment.id" class="post">
                    <div class="post__content">
                        <p>{{comment.title}}</p>
                        <p>{{comment.body}}</p>
                    </div>
                </div>
            </div>
        </div>
    </v-container>
</template>
<script>
import {baseService} from '../axios/index';

export default {
     data () {
        return {
            totalPost: 0,
            postDetail: {
                userId: null,
                title: '',
                point: 0,
                author: '',
                time: '',
                commentsTotal: 0,
                commentsList: []
            },
            loading: true
        }
    },

    mounted() {
        console.log(this.$route.params.id);
        baseService.get(`post/${this.$route.params.id}`)
        .then(res => {
            if (res) {
                setTimeout(() => {
                    this.postDetail = res.data;
                    this.loading = false;
                }, 1000)
            }
        })
        .catch(e => {
            console.log(e);
        });
    },

    methods: {
    }
}
</script>
<style lang="scss">
.progress__custome {
    position: relative;
    height: calc(100vh - 80px);

    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.post {
    &__title {
        display: inline-block;
        font-size: 18px;
        color: #000;
        cursor: pointer;
    }

    &__content {
        font-size: 14px;
        color: #6f6d6d;
        font-weight: 300;

        span {
            padding: 0 10px;
            border-right: 1px solid #e4dede;


            &:first-of-type {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
                border-right: none;
            }
        }
    }
}
</style>