<template>
    <v-container v-if="loading">
        <div class="progress__custome">
            <v-progress-circular
                indeterminate
                :size="80"
                :width="5"
                color="#fa7531"
                class="progress__custome__inner"
            >
            </v-progress-circular>
        </div>
    </v-container>
    <v-container v-else>
        <div class="postList" v-if="postList.length">
            <div v-for="post in postList" :key="post.id" class="post">
                <div class="post__title" @click="singleMovie(post.id)">{{post.title}}</div>
                <div class="post__content">
                    <span>{{post.point}}</span>
                    <span>{{post.author}}</span>
                    <span>{{post.time}}</span>
                    <span>{{post.commentsTotal}}</span>
                </div>
            </div>
        </div>
       <Pagination :totalPost="totalPost" @pageChanged="updatePostList" :currentPage="page"/>
    </v-container>
</template>
<script>
import {baseService} from '../axios/index';
import _ from 'lodash';
import Pagination from '@/components/Pagination.vue';

export default {
    components: {
        Pagination
    },
    props: ['search', 'awaitingSearch'],
    data () {
        return {
            totalPost: 0,
            postList: [],
            loading: true,
            limit: 5,
            page: 1,
            searchQuery: ''
        }
    },

    watch: {
      search: function() {
        this.searchQuery = this.search;
        this.getPostList();
      }
    },

    mounted() {
        this.getPostList();
    },

    computed: {
    },

    methods: {
        singleMovie (id) {
            this.$router.push('/post/' + id)
        },

        getPostList() {
            baseService.get(`post?_start=${this.page}&_limit=${this.limit}&author_like=${this.searchQuery}`)
            .then(res => {
                if (res) {
                    this.loading = true;
                    setTimeout(() => {
                        let totalPost = res.headers['x-total-count'];
                        if (typeof(totalPost) === 'string') {
                            totalPost = +totalPost;
                        }
                        this.totalPost = totalPost;
                        // this.length = Math.ceil(totalPost/this.limit);
                        this.postList = _.orderBy(res.data, 'point', 'desc');
                        this.loading = false;
                    }, 1000)
                }
            })
            .catch(e => {
                console.log(e);
            });
        },
        updatePostList(data) {
            this.page = data.page;
            this.limit = data.limit;
            this.getPostList(this.page);
        }
    }
}
</script>
<style lang="scss">
.progress__custome {
    position: relative;
    height: calc(100vh - 80px);

    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.post {
    &__title {
        display: inline-block;
        font-size: 18px;
        color: #000;
        cursor: pointer;
    }

    &__content {
        font-size: 14px;
        color: #6f6d6d;
        font-weight: 300;

        span {
            padding: 0 10px;
            border-right: 1px solid #e4dede;


            &:first-of-type {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
                border-right: none;
            }
        }
    }
}
</style>