<template>
   <v-app>
        <div class="header">
            <div class="container">
                <a href="#default" class="logo">H</a>
                <div class="header-right">
                    <v-text-field
                        v-model="search"
                        solo
                        label="Search author"
                        prepend-inner-icon="search"
                        hide-details
                        color="#fa7531"
                    ></v-text-field>
                </div>
            </div>
        </div>
        <v-content>
            <router-view :search='searchResult' :awaitingSearch="awaitingSearch"></router-view>
        </v-content>
  </v-app>
</template>

<script>
export default {
    name: 'App',

    components: {
    },

    data: () => ({
        search: '',
        searchResult: '',
        awaitingSearch: false
    }),
    watch: {
      search: function(val) {
        if (!this.awaitingSearch) {
          setTimeout(() => {
              console.log(this.search, val);
            this.searchResult = this.search;
            this.awaitingSearch = false;
          }, 1000); // 1 sec delay
        }
        this.awaitingSearch = true;
      }
    }
};
</script>
<style lang="scss">
    .logo {
        font-size: 30px;
        color: #fff;
        padding: 0 15px;
        border: 2px solid;
        border-radius: 3px;
    }

    .header {
        overflow: hidden;
        background-color: #fa7531;

        .container {
            overflow: hidden;
        }
    }

    .header {
        a {
            float: left;
            color: #fff;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px; 
            line-height: 25px;
            border-radius: 4px;

            &.logo {
                font-size: 25px;
                color: #fff;
            }
        }
    }

    .header-right {
        float: right;
    }

    @media screen and (max-width: 767px) {
        .header {
            text-align: center;
            a {
                &.logo {
                    display: inline-block;
                    margin-bottom: 10px;
                }
            }
        }
    }



    @media screen and (max-width: 500px) {
        .header a {
            float: none;
            display: block;
            text-align: left;
        }
        
        .header-right {
            float: none;
        }
    }
</style>